.DS_Store
.AppleDouble
.LSOverride
._*

*.jar
saves/
screenshots/
logs/
crash-reports/
backups/
.mixin.out/
asm/
replay_recordings/
local/
libraries/
versions/
assets/

usercache.json
usernamecache.json
ops.json
whitelist.json
banned-players.json
banned-ips.json

.minecraft/
instance.cfg
mmc-pack.json

*.class
*.log
hs_err_pid*

!/.gitignore
!/README.md
!/manifest.json
!/config/**
!/kubejs/**
!/scripts/**
!/defaultconfigs/**
!/docs/**
